    <section id="businessarea">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">BusinessArea</h2>
                    <h3 class="section-subheading text-muted">Each member of your group is to choose one of the following business areas at Key North Cottage Supply.</h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12 text-center">
                    <h4 class="service-heading text-muted">Employee Relations</h4>
                    <h4 class="service-heading text-muted">Store Management</h4>
                    <h4 class="service-heading"><a href="/docs/equipment_rental_and_servicing">Equipment Rental and Servicing</a></h4>
                    <h4 class="service-heading text-muted">Customer Project Management</h4>
                    <h4 class="service-heading"><a href="/docs/class_and_classroom_facilitation">Class and Classroom Facilitation</a></h4>
                </div>
                <div style="min-height:10em;">

                </div>
                <!--div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Equipment Rental and Servicing</h4>                    
                    <p class="text-muted text-left">Customer visit or call the store for equipment rental availability and repair service.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Class and Classroom Facilitation</h4>
                    <p class="text-muted">Customer can register for classes online or in the store.</p>
                </div-->
            </div>
        </div>
    </section>