<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>Class and Classroom Facilitation</h2>
                <h3 class="item-intro text-muted">Individual Work</h3>
                <!--img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt=""-->
                <article class="text-left">

                <h4>Lab3: Business Processes</h4>

                <div class="table-responsive">
                    <table class="table">
                        <tr><th>Processes Performed</th><th>Actors</th></tr>
                        <tbody class="text-left">
                            <tr><td>● Register Class</td><td>● Customer</td></tr>
                            <tr><td>● Send Notification</td><td>● Workshop Instructor (Jie, Bill, Christine)</td></tr>
                            <tr><td>● Check Instructor Availability</td><td>● Classroom Organizer (Jenny)</td></tr>
                            <tr><td>● Hire Instructor</td><td>● Independent Contractor Manager (Christine)</td></tr>
                            <tr><td>● Order Class Materials</td><td>● Inventory Manager (Jeremy)</td></tr>
                            <tr><td></td><td>● Rental Manager (Bill)</td></tr>
                            <tr><td></td><td></td></tr>
                        </tbody>
                    </table>
                    <p>You can donwload the file <a href="/media/sys366-group9-lab3-SangminLee.docx">here</a>.</p>
                </div>

                <h4>Lab4: Business Use Case Diagram</h4>
                <img class="img-responsive img-centered" src="/media/sys366-group9-lab4-SangminLee.png" alt="">
                <p>You can donwload the file <a href="/media/sys366-group9-lab4-SangminLee.pdf">here</a>.</p>

                <h4>Lab5: Business Use Case Description</h4>
                <div class="text-left">
                    <pre>
Business Use Case Name : Register Class

Short Description: This use case enables the customer to enroll the class that the customer selected. After getting an information of a specific class to participate, the customer selects the class on a particular date and time when they are convenient online or in the store. The class organizer verifies whether the class is already overbooked and verify if the class needs extra materials or tools. If the extra materials are needed, the cost of supplies is included in the class fee. The customer pays for the class by cash, Interac/debit, MasterCard, and Visa on the website or in the store.

Actors: Customer, ClassOrganizer

Trigger: The customer clicks the register button of the class on the website or tells to a classroom organizer in the store.

Results: The customer can get a reservation ticket for the class.

Business Use Case Name : Send Notification

Short Description: This use case enables the Class organizer send a notification in advance to the class. The Class organizer sends a notification to the customers 2 days before opening the class in order to increase attendance rate.

Actors: Customer, ClassOrganizer

Trigger: The notification triggers automatically at 2 days before when the class opens.

Results: The customers get an email or SMS for the class information.

Business Use Case Name : Check Instructor Availability

Short Description: This use case enables the Class organizer checks the availability of the instructors for the class. The Class organizer verifies in-house experts whether they can be in charge of the class as a workshop instructor.

Actors: ClassOrganizer, WorkshopInstructor

Trigger: The class organizer triggers manually at before sending the notification.

Results: The class schedule that the workshop instructors are allocated.

Business Use Case Name : Hire Instructor

Short Description: This use case enables the Class organizer can hire class instructors if they need. after hiring in-house workshop instructors, if there are still classes without instructors, the Class organizer hires outside professionals through an Independent contractor manager.

Actors: ClassOrganizer, IndependentContractorManager

Trigger: This use case is triggered manually by the class organizer after finishing CheckInstructorAvailability use case.

Results: The class schedule that the outside instructors are allocated.

Business Use Case Name : Order Class Materials

Short Description: This use case enables the Class organizer prepares class materials. Some classes need supplies or tools within the workshop then the class organizer procures the supplies and tools through an Inventory manager and a Rental manager respectively.

Actors: ClassOrganizer, InventoryManager, RentalManager

Trigger: The class organizer triggers when a class needs some supplies and tools.

Results: Invoice of supplies and rental applications.
                    </pre>
                </div>

                <p>You can donwload the file <a href="/media/sys366-group9-lab5-SangminLee.docx">here</a>.</p>

            </div>
        </div>
    </div>
</div>