    <!-- Portfolio Grid Section -->
    <section id="documents" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Documents</h2>
                    <h3 class="section-subheading text-muted">Student information complete and correct. Files correctly linked to use case</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-bg-item-content">
                            <i class="fa fa-file-text-o fa-4x"></i>
                        </div>
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/portfolio/bg.png" class="img-responsive" alt="">
                        <!--img src="/img/portfolio/treehouse.png" class="img-responsive" alt=""-->
                        <!--img src="/img/portfolio/roundicons.png" class="img-responsive" alt=""-->
                    </a>
                    <div class="row portfolio-caption">
                        <!--span class="col-md-3 fa-1g">
                            <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        </span-->
                        <h4 class="col-md-8">Case Study</h4>
                        <p class="col-md-8 text-muted">Scenario</p>
                    </div>
                    
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-bg-item-content">
                            <i class="fa fa-users fa-4x"></i>
                        </div>
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/portfolio/bg.png" class="img-responsive" alt="">
                    </a>
                    <div class="row portfolio-caption">
                        <h4 class="col-md-8">Stakeholder List</h4>
                        <p class="col-md-8 text-muted">Group Component</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-bg-item-content">
                            <i class="fa fa-shopping-basket fa-4x"></i>
                        </div>
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/portfolio/bg.png" class="img-responsive" alt="">
                    </a>
                    <div class="row portfolio-caption">
                        <h4 class="col-md-8">Equipment Rental and Servicing</h4>
                        <p class="col-md-8 text-muted">Guozhao Liang</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-bg-item-content">
                            <i class="fa fa-university fa-4x"></i>
                        </div>
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/portfolio/bg.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Class and Classroom Facilitation</h4>
                        <p class="text-muted">Sang Min Lee</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-bg-item-content">
                            <!--i class="fa fa-users fa-4x"></i-->
                        </div>
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/portfolio/bg.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Iteration 2</h4>
                        <p class="text-muted">#2</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-bg-item-content">
                            <!--i class="fa fa-pencil  fa-4x"></i-->
                        </div>
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/portfolio/bg.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Iteration 2</h4>
                        <p class="text-muted">#2</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


{{> modal/modal_casestudy}}

{{> modal/modal_stakeholder}}

{{> modal/modal_equipment_rental}}

{{> modal/modal_classroom_facilitation}}