<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>Equipment Rental and Servcing</h2>
                <h3 class="item-intro text-muted">Individual Work</h3>
                <!--img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt=""-->
                <article class="text-left">

                <h4>Lab3: Business Processes</h4>

                <div class="table-responsive">
                    <table class="table">
                        <tr><th>Processes Performed</th><th>Actors</th></tr>
                        <tbody class="text-left">
                            <tr><td>路 Confirm equipment rental availability</td><td>Customers,</td></tr>
                            <tr><td>路 Create rental contract</td><td>RentalManager,</td></tr>
                            <tr><td>路 Create reparation service contract</td><td>InformationCentreEmployees,</td></tr>
                            <tr><td>路 Repair equipment service</td><td>RentalAgent,</td></tr>
                            <tr><td></td><td>Technicians,</td></tr>
                            <tr><td></td><td>RepairShop</td></tr>
                            <tr><td></td><td></td></tr>
                        </tbody>
                    </table>
                    <p>You can donwload the file <a href="/media/sys366-group9-lab3-GuozhaoLiang.doc">here</a>.</p>
                </div>

                <h4>Lab4: Business Use Case Diagram</h4>
                <img class="img-responsive img-centered" src="/media/sys366-group9-lab4-GuozhaoLiang.png" alt="">
                <p>You can donwload the file <a href="/media/sys366-group9-lab4-GuozhaoLiang.pdf">here</a>.</p>

                <h4>Lab5: Business Use Case Description</h4>
                <div class="text-left">
                    <pre>
Business Use Case Name: ConfirmEquipmentExistenceForRent

Short Description: This use case enables an information centre employee to confirm for the existence of an equipment in the inventory for rent.

Actors: Customer, RentalManager, InformationCentreEmployee

Trigger: A Customer would like to rent an equipment.

Results: Confirmation of availability of the equipment for rent.

Business Use Case Name: CreateRentalEquipmentContract

Short Description: This use case enables a rental agent, to create a contract for an equipment which is available in the inventory to be rented.

Actors: Customer, RentalAgent

Trigger: A Customer would like to pick up an available equipment.

Results: Rental contract was completed.

Business Use Case Name: CreateReparationServiceContract

Short Description: This use case enables the actor, Rental manager, to create a contract for a reparation service of the equipment rented by the customer from the store.

Actors: Customer, RentalManager.

Trigger: A Customer would like to have an equipment reparation service.

Results: Reparation service contract was completed.
                    </pre>
                </div>

                <p>You can donwload the file <a href="/media/sys366-group9-lab5-GuozhaoLiang.docx">here</a>.</p>

            </div>
        </div>
    </div>
</div>