<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>Equipment Rental and Servcing</h2>
                <h3 class="item-intro text-muted">Individual Work</h3>

                <address class="text-right">
                        <a href="/#team">
                            <string>Guozhao Liang</string>(040-695-157)
                            <img class="img-circle" src="/img/team/1.jpg" alt="..." style="width:32px;height:32px;margin-bottom:0" >
                        </a>
                </address>

                <article class="text-left" style="margin-top: 4em;">

                    <h4>Lab3: Business Processes</h4>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="bg-darkest-gray text-muted">
                                <tr><th>Processes Performed</th><th>Actors</th></tr>
                            </thead>
                            <tbody class="text-left">
                                <tr><td>Confirm equipment rental availability</td><td>Customers</td></tr>
                                <tr><td>Create rental contract</td><td>RentalManager</td></tr>
                                <tr><td>Create reparation service contract</td><td>InformationCentreEmployees</td></tr>
                                <tr><td>Repair equipment service</td><td>RentalAgent</td></tr>
                                <tr><td></td><td>Technicians</td></tr>
                                <tr><td></td><td>RepairShop</td></tr>
                            </tbody>
                        </table>
                        <p>You can donwload the file <a href="/media/sys366-group9-lab3-GuozhaoLiang.doc">here</a>.</p>
                    </div>

                    <h4>Lab4: Business Use Case Diagram</h4>
                    <img class="img-responsive img-centered btn-modal-img" src="/media/sys366-group9-lab4-GuozhaoLiang.png" alt="">
                    <p>You can donwload the file <a href="/downloads/sys366-group9-lab4-GuozhaoLiang.uml">here</a>.</p>

                    <h4>Lab5: Business Use Case Description</h4>
                    <div class="text-left">

                        <div class="row use-case-desc">
                            <dl class="col-md-12">
                                <dt>
                                    <h5 class="section-heading">Business Use Case Name:
                                        <span class="section-subheading text-capitalize text-muted">ConfirmEquipmentExistenceForRent</span>
                                    </h5>
                                </dt>
                                <dd class="row">
                                    <label class="col-md-3">Short Description:</label>
                                    <div class="col-md-9"> This use case enables an information centre employee to confirm for the existence of an equipment in the inventory for rent.</div>
                                </dd>
                                <dd class="row">
                                    <label class="col-md-3">Actors:</label>
                                    <div class="col-md-9">Customer, RentalManager, InformationCentreEmployee</div>
                                </dd>
                                <dd class="row">
                                    <label class="col-md-3">Trigger:</label>
                                    <div class="col-md-9">A Customer would like to rent an equipment.</div>
                                </dd>
                                <dd class="row">
                                    <label class="col-md-3">Results:</label>
                                    <div class="col-md-9">Confirmation of availability of the equipment for rent.</div>
                                </dd>
                            </dl>
                        </div>

                    <div class="row use-case-desc">
                            <dl class="col-md-12">
                                <dt>
                                    <h5 class="section-heading">Business Use Case Name:
                                        <span class="section-subheading text-capitalize text-muted">CreateRentalEquipmentContract</span>
                                    </h5>
                                </dt>
                                <dd class="row">
                                    <label class="col-md-3">Short Description:</label>
                                    <div class="col-md-9">This use case enables a rental agent, to create a contract for an equipment which is available in the inventory to be rented.</div>
                                </dd>
                                <dd class="row">
                                    <label class="col-md-3">Actors:</label>
                                    <div class="col-md-9">Customer, RentalAgent</div>
                                </dd>
                                <dd class="row">
                                    <label class="col-md-3">Trigger:</label>
                                    <div class="col-md-9">A Customer would like to pick up an available equipment.</div>
                                </dd>
                                <dd class="row">
                                    <label class="col-md-3">Results:</label>
                                    <div class="col-md-9">Rental contract was completed.</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="row use-case-desc">
                            <dl class="col-md-12">
                                <dt>
                                    <h5 class="section-heading">Business Use Case Name:
                                        <span class="section-subheading text-capitalize text-muted">CreateReparationServiceContract</span>
                                    </h5>
                                </dt>
                                <dd class="row">
                                    <label class="col-md-3">Short Description:</label>
                                    <div class="col-md-9">This use case enables the actor, Rental manager, to create a contract for a reparation service of the equipment rented by the customer from the store.</div>
                                </dd>
                                <dd class="row">
                                    <label class="col-md-3">Actors:</label>
                                    <div class="col-md-9">Customer, RentalManager.</div>
                                </dd>
                                <dd class="row">
                                    <label class="col-md-3">Trigger:</label>
                                    <div class="col-md-9">A Customer would like to have an equipment reparation service.</div>
                                </dd>
                                <dd class="row">
                                    <label class="col-md-3">Results:</label>
                                    <div class="col-md-9">Reparation service contract was completed.</div>
                                </dd>
                            </dl>
                        </div>

                    </div>

                    <p>You can donwload the file <a href="/media/sys366-group9-lab5-GuozhaoLiang.docx">here</a>.</p>

                </article>
            </div>
        </div>
    </div>
</div>
