<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
                <h2>Stakeholder List</h2>
                <p class="item-intro text-muted">Includes all stakeholders from all group members' contributions</p>
                <!--img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt=""-->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr class="bg-light-gray text-muted">
                            <th></th>
                            <th>Stakeholders (Name)</th>
                            <th>Interest</th>
                            <th>Power / Influence</th>
                            <th>Affected</th>
                        </tr>
                        <tbody class="text-left">
                            <tr><td>Founder</td><td>Founder (Sam North)</td><td>High</td><td>High</td><td>High</td></tr>
                            <tr><td rowspan="11">Managers</td><td>Marketing Manager (Jeff North)</td><td>High</td><td>High</td><td>High</td></tr>
                            <tr><td>HR Manager (Darlene North, Daniel Lacroix)</td><td>High</td><td>High</td><td>High</td></tr>
                            <tr><td>Operation Manager (Darlene North)</td><td>High</td><td>High</td><td>High</td></tr>
                            <tr><td>Accounting Manager (Darlene North)</td><td>High</td><td>High</td><td>High</td></tr>
                            <tr><td>Supply Change Manager (Jeremy Desilva)</td><td>High</td><td>Low</td><td>High</td></tr>
                            <tr><td>Store Manager (Daniel Lacroix)</td><td>High</td><td>Low</td><td>High</td></tr>
                            <tr><td>Rental Manager (Bill Smith)</td><td>High</td><td>Low</td><td>High</td></tr>
                            <tr><td>Hardware Manager (Christine Singh)</td><td>High</td><td>Low</td><td>High</td></tr>
                            <tr><td>Facility Manager (Christine Singh)</td><td>High</td><td>Low</td><td>High</td></tr>
                            <tr><td>Classroom Organizer (Jenny North)</td><td>High</td><td>Low</td><td>High</td></tr>
                            <tr><td>Designer (Jie Chen)</td><td>High</td><td>Low</td><td>High</td></tr>
                            <tr><td rowspan="5">Employees</td><td>Seasonal Staff</td><td>Low</td><td>Low</td><td>Low</td></tr>
                            <tr><td>Storefront Staff</td><td>Low</td><td>Low</td><td>Low</td></tr>
                            <tr><td>Office Staff</td><td>Low</td><td>Low</td><td>Low</td></tr>
                            <tr><td>In-house Designer</td><td>Low</td><td>Low</td><td>Low</td></tr>
                            <tr><td>Part-time Teachers</td><td>Low</td><td>Low</td><td>Low</td></tr>
                            <tr><td rowspan="4">Organizations and Communities</td><td>Local Children's Sports Teams</td><td>High</td><td>Low</td><td>Low</td></tr>
                            <tr><td>The Local Army Cadets Corps</td><td>High</td><td>Low</td><td>Low</td></tr>
                            <tr><td>Scouts and Guiding Troupes</td><td>High</td><td>Low</td><td>Low</td></tr>
                            <tr><td>Local High School (Scholaship)</td><td>High</td><td>Low</td><td>Low</td></tr>
                            <tr><td rowspan="3">External Companies</td><td>Ledgers and Associates (Tax Company)</td><td>Low</td><td>Low</td><td>High</td></tr>
                            <tr><td>Computer Consulting Company (System Integration, SW)</td><td>Low</td><td>Low</td><td>High</td></tr>
                            <tr><td>Contractors (General Contractors, Electricians, Plumbers, Painters and Landscape Compaines)</td><td>Low</td><td>Low</td><td>High</td></tr>
                        </tbody>

                        
                    </table>
                </div>
                <p>You can donwload the file <a href="/media/sys366-group9-lab2.docx">here</a>.</p>

            </div>
        </div>
    </div>
</div>